node_modules
src
dist
build
public
.vscode
.gitattributes
.gitignore
.npmignore
.npmrc
*.tgz
biome.json
eslint.config.mjs
rsbuild.config.ts
rspack.config.ts
package-lock.json
tsconfig.json
tsconfig.prod.json
scripts
